@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('http://fonts.googleapis.com/earlyaccess/droidarabickufi.css');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Marhey:wght@300&display=swap');

html{
    border-style: dotted;
    height: 100vh;
    margin: 10px;
}
body{
    background-color: rgb(108,203,210);
    align-items: center;
    justify-content: center;
}
.head-div{
    text-align: center;
}
.head-text{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}
.logo{
    width: 100px;
    margin-top: 12%;

}
.arabic{
    font-family: 'Marhey', cursive;
}
.english{
    font-family: 'Marhey', cursive;
}
.head-div p{
    color: black;
    font-weight: bold;
}
.since{
    font-family: 'Dancing Script', cursive;
    margin-bottom: 10%;
}
@media screen and (min-width:400px) {
    .logo{
        margin-top: 4%;
    }
    .since{
        position: relative;
        bottom: 10px;
        margin-bottom: 1%;
    }
}
@media screen and (max-width:400px){
    .since{
        position: fixed; 
        bottom:10%;
        left: calc((100% - 228.5px)/2);

    }
}
